body{
  background-color: #e3e3e3;
}
a{
  text-decoration: none;
}
h2{
  margin-left: 20px;
  text-align: center;
}
.wrapper{
  border-radius: 8px;
  background-color: #00b09a;
  /*width:700px;*/
  /*height: 200px;*/
  padding: 20px 40px;
}
p{
  color: red;
}
.items{
  margin-left: 40px;
}
